// youtube-video(id="web-player", video-url="playing", player-height="300", player-width="300")
.player-page
  youtube-video(id="web-player", video-id="playing.videoId", player-height="playerHeight", player-width="playerWidth")
