.container
  .landing-page
    h1.tagline They call me jkbx.
    h4 No nonsense collaborative youtube playlist for the masses.

    form(name="form", ng-submit="findOrCreateRoom()")
      .row
        .six.columns
          .row
            input(class="eight columns" type="text" ng-model="roomName" placeholder="mega-hipster-music-playlist")
            .two.columns
              a(ui-sref="party({name: roomName})" class="button button-primary") Join or Create a playlist

