@import url(http://fonts.googleapis.com/css?family=Montserrat:700);
@import url(http://fonts.googleapis.com/css?family=Raleway:300,700);

body {
}

h1, h2, h3, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

h6 {
  display: inline-block;
  height: 38px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  box-sizing: border-box;
  margin: 0;
  padding-left: 5px;
}

.text-center {
  text-align: center;
}

form {
  margin-bottom: 0;
}

@mixin list-styling {
  list-style: none;
  border: 1px solid #D1D1D1;
  box-sizing: border-box;

  li {
    display: table;
    box-sizing: border-box;
    width: 100%;
    clear: both;
    padding: 10px;
    margin-bottom: 0;
    border-bottom: 1px solid #d1d1d1;

    &:last-child {
      border-bottom: none;
    }

    .image-holder {
      display: table-cell;
      width: 15%;

      img { 
        width: 100%;
        vertical-align: middle;
      }
    }

    p.metadata {
      display: table-cell;
      vertical-align: middle;
      margin: 0px;
      width: 85%;
      box-sizing: border-box;
      padding-left: 10px;

      font-size: 90%;
      text-overflow: ellipsis;
    }

    p.controls {
      display: table-cell;
      vertical-align: middle;
    }
  }
}

.landing-page {
  margin-top: 25%;
}

.party-page {

  .search {
    position: relative;
    margin-bottom: 10px;

    .search-bar {
      margin: 0;
    }

    ul.search-results {
      @include list-styling;
      background: white;
      position: absolute;

      li {
        &:hover {
          background: #BCEFFF;
          cursor: pointer;
        }
      }
    } //end-search-results

  }

  .now-playing {
    @include list-styling;
    border-color: #1EAEDB;
    border-radius: 4px;
    margin-bottom: 10px;

    li {
      border-color: #1EAEDB;
    }

    .track-actions {
      text-align: center;

      a {
        font-size: 140%;
      }
    }
  }

  ul.queue-list {
    @include list-styling;

    .playing {
      display: none;
      background: rgb(206, 252, 203);
    }
  }
}

.player-page {
  background-color: black;
  position: relative;

  #web-player {
    position: fixed;
    top: 0;
    left: 0;
  }
  &::-webkit-scrollbar {
    display: none; 
  }

}

.sweet-alert {
  button {
    padding: 0 30px;
  }

  .sa-input-error {
    top: 23px;
    right: 13px;
  }
}
