.container
  .party-page
    br
    br
    .row
      .six.columns
        form.search(name="form")
          input.search-bar.u-full-width(type="text" ng-model="newTrack.name" ng-model-options="{debounce: 800}" placeholder="Try searching for a song..")
          ul.search-results(ng-if="results.length > 1")
            li(ng-repeat="result in results" ng-click="addTrack(result)")
              .image-holder
                img(src="{{result.snippet.thumbnails.default.url}}")
              p.metadata
                strong {{result.snippet.title}}
                ' ({{result.snippet.channelTitle}})

        div(ng-if="loadingTracks")
          h1 Gimme a sec to get the tracks...
        div(ng-if="tracks.length < 1 && !loadingTracks")
          h1 Nothing to see here.
          h4 Try adding a track!
        div(ng-if="tracks.length >= 1 && !loadingTracks")
          .row
            h6 Queued Tracks
          .row
            ul.queue-list
              li(ng-repeat="track in tracks track by $index" ng-class="{playing: track.playing}")
                .image-holder
                  img(src="{{track.img}}")
                p.metadata
                  strong {{ track.title }}
                p.controls
                  a(href="" title="remove" ng-click="tracks.$remove($index)")
                    i.ion-close

      .six.columns
        .row
          .four.columns
            button.button-primary.u-full-width(ng-click="trackAction('pause')") Pause
          .four.columns
            button.button-primary.u-full-width(ng-click="trackAction('play')") Play
          .four.columns
            button.button-primary.u-full-width(ng-click="trackAction('skip')") Skip
        .row
          .twelve.columns
            a(ui-sref="player({name: party})" target="_blank" class="u-full-width button") 
              | Open Standalone Player
              &nbsp;
              i.ion-arrow-right-a
        div(ng-if="!loadingTracks")
          .row
            h6 Played Tracks
          .row
            ul.queue-list
              li(ng-repeat="track in playedTracks track by $index")
                .image-holder
                  img(src="{{track.img}}")
                p.metadata
                  strong {{ track.title }}
                p.controls
                  a(href="" title="remove" ng-click="playedTracks.$remove($index)")
                    i.ion-close
