.container
  .party-page
    h1 {{party}}'s playlist
    .row
      .six.columns
        h6 Hi {{user}}, Search for a track!
        form.search(name="form")
          input.search-bar.u-full-width(type="text" ng-model="newTrack.name" ng-model-options="{debounce: 800}" placeholder="Find your favorite artist or song..")
          ul.search-results(ng-if="results.length > 1")
            li(ng-repeat="result in results" ng-click="addTrack(result)")
              .image-holder
                img(src="{{result.snippet.thumbnails.default.url}}")
              p.metadata
                strong {{result.snippet.title}}
                ' ({{result.snippet.channelTitle}})

        div(ng-if="loadingTracks")
          h2.text-center Gimme a sec to get the tracks...
        div(ng-if="tracks.length < 1 && !loadingTracks")
          .text-center
            h2 Nothing to see here.
            h4 Try adding a track!
        div(ng-if="tracks.length >= 1 && !loadingTracks")
          .row
            h6 Up Next
          .row
            ul.queue-list
              li(ng-repeat="track in tracks track by $index" ng-class="{playing: track.playing && $index == 0}")
                .image-holder
                  img(src="{{track.img}}")
                p.metadata
                  strong {{ track.title }}
                  span(ng-if="track.addedBy != ''")
                    &nbsp - {{track.addedBy}}
                p.controls
                  a(href="" title="remove" ng-click="tracks.$remove($index)")
                    i.ion-close

      .six.columns(ng-if="!loadingTracks")
        h6 now playing
        .now-playing
          li(ng-if="!tracks[0].playing")
            p.metadata
              strong No song playing.
          li(ng-if="tracks[0].playing")
            .image-holder
              img(src="{{tracks[0].img}}")
            p.metadata
              strong {{ tracks[0].title }}
          .row.track-actions
            .four.columns
              a.u-full-width(href="" ng-click="trackAction('pause')") 
                i.ion-ios-pause
            .four.columns
              a.u-full-width(href="" ng-click="trackAction('play')")
                i.ion-ios-play
            .four.columns
              a.u-full-width(href="" ng-click="trackAction('skip')")
                i.ion-ios-skipforward
        .row
          .twelve.columns
            a(ui-sref="player({name: party})" target="_blank" class="u-full-width button") 
              | Pop-out Youtube Player
              &nbsp;
              i.ion-arrow-right-a
        div(ng-if="!loadingTracks && playedTracks.length > 0")
          .row
            h6 Played Tracks
          .row
            ul.queue-list
              li(ng-repeat="track in playedTracks track by $index")
                .image-holder
                  img(src="{{track.img}}")
                p.metadata
                  strong {{ track.title }}
                p.controls
                  a(href="" title="requeue" ng-click="tracks.$add(track)")
                    i.ion-refresh
                  a(href="" title="remove" ng-click="playedTracks.$remove($index)")
                    i.ion-close
